extends layout

block content

  include topbar

  div.x_bold_line
  div.main_container
   div#sub_content_div.sub_content
    p.text-infor 每天只要到了12点，我的肚子就饿得咕咕叫。。。
    br
    #{error}
    div.menu_f_list
     ul
      li
       a(id='f_1') 木桶饭
      li
       a(id='f_2') 干锅居
      li
       a(id='f_3') 川菜馆
     span(class='add_f_m',onClick='add_foot_hotel()')+ 添加饭馆

    if (menus.length>0)
      div.f_menu
        h2(class="h2_food_title")
         a(name="f_1")木桶饭
        div#f_menu_0.hide0
         ul.f_menu_list
          form(method="post", action='/order/new')
           each menu in menus
            li
             input(type="radio", id="eat", name="eat", value="#{menu.id}")
             label(for="eat") #{menu.name}
             span.price #{menu.price}
           div(class="mt5 textright")
            button(class="org_btn")确定

  
     