extends layout

block content

    .row
      .col-12.col-sm-8.col-lg-8
      .col-6.col-sm-4.col-lg-4
    .row
      .col-3.col-sm-3.col-lg-3
        #myModal.modal.fade
            .modal-dialog
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                  h4.modal-title Modal title
                .modal-body
                  p One fine body…
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
                  button.btn.btn-primary(type='button') Save changes
      .col-6.col-sm-6.col-lg-6
        #restaurant
      .col-3.col-sm-3.col-lg-3
             
      

    script(type="text/javascript").
      function loadRestaurants (argument) {
          $.ajax({
              url: "/restaurants",
              data: {
                  id: 123
              },
              type: "GET",
              dataType : "json",
              success: function( json ) {
                var html = "";
                for(var i = 0 ;i<json.restaurants.length;i++){
                    html += "<div class='row panel panel-info'>" +
                             "<div class='col-6 col-sm-6 col-lg-6'>"+
                               "<dl>"+
                                 "<h3><a href='/menu/"+json.restaurants[i].id+"'>" + json.restaurants[i].name+"</a><b>家常菜</b></h3>"+
                                 "<span><a href='/menu/"+json.restaurants[i].id+"'>看菜谱</a></span>" +
                                 "<p class='text-warning'>电话：" + json.restaurants[i].phone+"</p>" +
                               "</dl>"+
                               "<p><span>人均消费:￥55元</sapn></p>"+
                               "<p>招牌菜:宫爆鸡丁 京酱肉丝 杂酱面</p>"+
                             "</div>"+
                            "</div>";
                  
                }
                $('#restaurant').html(html);


              },
              error: function( xhr, status ) {
              },
              complete: function( xhr, status ) {
                  $("#restaurant div div").each(function(){
                    $(this).click(function(){
                      alert("ok");
                    });
                });
              }
          });
      }
      $( document ).ready(function(){
        loadRestaurants();
        console.log( "ready!" );
        $('#myModal').modal();
      });

      

      