doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css', media='screen')
    script(type="text/javascript", src="http://code.jquery.com/jquery.js")
    script(type="text/javascript", src="/js/bootstrap.js")
    script(type="text/javascript", src="/js/modal.js")
    script(type="text/javascript", src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js")
    script(type="text/javascript", src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/additional-methods.min.js")
      
  body
    

    .navbar.navbar-inverse
      a.navbar-brand(href='#') 肚子饿得咕咕叫了!
      p.navbar-text.pull-right
        
        - if(locals.user){
          button.btn.btn-default.navbar-btn.pull-right(type='button') 收租子
        - }
        a#login_user_nickname.navbar-link(href='#')
      

    block content