doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css', media='screen')
    script(type="text/javascript", src="http://code.jquery.com/jquery.js")
    script(type="text/javascript", src="/js/bootstrap.js")
    script(type="text/javascript", src="/js/modal.js")
    script(type="text/javascript", src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js")
    script(type="text/javascript", src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/additional-methods.min.js")
      
  body
    

    .navbar.navbar-inverse
      a.navbar-brand(href='#') Brand
      p.navbar-text.pull-right
        | Signed in as 
        a.navbar-link(href='#') Mark Otto
      button.btn.btn-default.navbar-btn.pull-right(type='button') Sign in

    block content