extends layout

block content
	.row
		ol.breadcrumb
			li
				a(href='/') 首页
			li.active 注册
	.row
		.col-2.col-sm-2.col-lg-2
		.col-8.col-sm-8.col-lg-8
			.panel
				.panel-heading
					h3.panel-title 注册
				.panel-body
					form#register_form.form-horizontal(role='form',method='POST', action='/register')
						.form-group
							label.col-lg-2.control-label(for='username') Email
							.col-lg-10
								input#username.form-control(type='email',name='username', placeholder='Email', required='required')
						.form-group
							label.col-lg-2.control-label(for='password') 密码
							.col-lg-10
								input#password.form-control(type='password',name='password', placeholder='密码', required='required')
						.form-group
							label.col-lg-2.control-label(for='nickname') 昵称
							.col-lg-10
								input#nickname.form-control(type='text', name='nickname',placeholder='昵称', required='required')
						.form-group
							label.col-lg-2.control-label(for='phone') 电话
							.col-lg-10
								input#phone.form-control(type='text', name='phone',placeholder='昵称', required='required')
						.form-group
							.col-lg-offset-2.col-lg-10
								button.btn.btn-default(type='submit') 注册
		.col-2.col-sm-2.col-lg-2

	script(type="text/javascript").

			$(document).ready(function(){
				$("#register_form").validate();
			})



		